/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}
/* img{
    float: left;
} */

.app-logo-container {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR63ypty5OUYm0DcfbWG6IE9wcYUDFxlzC2DA&usqp=CAU);
    height: 92px;
    width: 300px;
    float: left;
    background-repeat: no-repeat;
}
.app-header {
    height: 110px;
    padding: 9px;
    width: calc(100%-5px);
    background-color: aliceblue;
}
.app-search-form {
    float: right;
    padding: 5px;
    margin-top: 27px;
}
input[name="app-search-input"] {
    height: 20px;
    padding: 5px;
    border: 2px solid darkblue;
    border-radius: 5px;
    width: 200px;
}
.app-nav-bar {
    height: 20px;
    padding: 10px;
    margin-top: 10px;
    background-color: antiquewhite;
}

.app-nav-link {
    width: 24%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}


.app-nav-link:hover {
    text-decoration: underline;
}

.app-content {
    margin: 5px rgb(1, 3, 70);
    border: 1px rgb(1, 3, 70);
}

.app-content-aside {
    width: 10%;
}
.app-content {
    display: inline-block;
    vertical-align: top;
}
#main-content-section {
    width: 38%;
    margin-left: 532px;
    margin-top: -5px;
}
.right-sidebar-menu {
    float: right;
    margin-top: -500px;
}